header a img {
    max-height: 50px !important;
    width: 140px !important;
}

.mfp-content {
    vertical-align: bottom;
    background-color: #333333;
}

.wbly-input{
    border: 0px;
    border-bottom: 2px solid rgb(253, 222, 0);
    background-color: transparent;
    color: #09afd7;
    padding: 10px 0px;
    font-size: 18px;
}
.wbly-btn {
    padding: 15px 15px;
    display: block;
    width: 100% !important;
    border-radius: 5px;
    background-color: rgb(253, 222, 0);
    border: none;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: 0px 0px 30px black;
}

#popup-form-1531565114 {
	background-color : #333333;
	width:600px;
	max-width:90%;
}

.popupHeading{
    font-size : 20px;
    color: #ffffff ;
    text-align:center;
}

#submit_early_access {
    background-color: #333333;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.btn.btn-rounded {
    border-radius: 10px !important;
}

.wbly-shadow{
    box-shadow: 0px 5px 20px 0px #bbbbbb;
    z-index: 1;
}
.html-video{
    height:135vh !important;
}

.alt-font {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 600;
}